.loadout-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    width: 320px;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease-in-out;
}

.loadout-card:hover {
    transform: scale(1.02);
}

/* Card image styles */
.loadout-card-image {
    background-color: black;
    height: 300px;
    width: 100%;
    overflow: hidden;
}

.loadout-card-image img {
    object-fit: cover;
    width: auto;
    height: auto;
}

/* Card details container */
.loadout-card-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--grn);
}

.loadout-card-details h3 {
    font-family: var(--font-title);
    margin: 0;
    font-size: 16px;
    color: var(--wht);
}

.loadout-card-details p {
    color: var(--wht);
    font-size: var(--texto-btn);
}

/* Weapon icons */
.loadout-card-icon {
    height: 20px;
    width: auto;
    filter: brightness(110%);
}

/* Weapon details container */
.loadout-card-details-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px;
    height: 60px;
    overflow: hidden;
}

.loadout-card-details-weapon {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.loadout-card-details-weapon p {
    margin: 0;
    color: var(--wht);
    font-size: var(--texto-btn);
}

.loadout-card-details-weapon img {
    margin-right: 3px;
}

/* Copy button styles */
.loadout-card-details-copy button {
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    margin-left: 10px;
    color: var(--blk);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.loadout-card-details-copy button:hover {
    filter: brightness(120%);
    color: var(--blk);
}

/* Hidden content on hover */
.card-container-hidden {
    display: none;
}

.loadout-card:hover .texto-copiar,
.loadout-card:hover .card-container-hidden {
    display: flex;
    align-items: center;
}

.loadout-card:hover .circle-icon {
    display: none;
}

/* Lower container for icons */
.loadout-card-lower-container {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 25px;
    gap: 10px;
    z-index: 1;
}

/* Circle icon styles */
.circle-icon {
    padding: 0 15px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: var(--yel);
}

.circle-icon p {
    margin: 0;
    color: var(--blk);
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Tooltip text */
.tooltip .tooltip-text {
  visibility: hidden;
  width: 80px;
  background-color: var(--blk);
  color: var(--wht);
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  bottom: 125%; /* Position above the button */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show tooltip on hover */
.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
