.prox-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--wht);
  font-size: var(--titulo-1);
  text-align: center;
}

.prox-subtitle {
  font-size: var(--subtitulo-3);
  margin-top: 1rem;
  color: var(--wht);
  letter-spacing: var(--track-label);
}